html,body {
    height: 100%;
}
img {
    max-width: 100%;
}
#cover-texto {
    width: 100%;
    
}

#cover-texto .form-inline{
    width: 100%;
}

.contenido-seccion {
    padding: 5rem 0;
}

#acerca-de {
    background: url('../img/imagen20.jpg') center center no-repeat;
    background-size: cover;
}

.texto-acerca-de {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}